.contact{
margin-top: 3rem;
padding: 0px 30px;
}


.contact__Header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
}

.contact__HeaderTitle {
    font-size: 40px;
    color: #21212B;
    font-weight: 500;
    text-align: center;
    padding: 10px 0px;
 
}

.contact__box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.contact__video {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    width: 600px;
    height: 400px;
    /* box-shadow: 0 8px 10px 4px lightgray; */
    padding: 0;
    margin-bottom: 2rem;

}

.contact__video > video {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    padding: 0;


}

.contact__video > video:hover {
    transition: transform 0.30s ease-in-out;
    transform: scale(1.010) !important;

}

.contact__videoIcon {
    position: relative;
    left: 280px;
    bottom: 250px;
    font-size: 55px;
    width: 55px;
    height: 55px;
    background-color: #F7F9FD;
    border-radius: 100%;
    border: transparent;
    color: #0044FF;
}

.contact__left {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
   padding: 10px;
}
/* .contact__left > p{
    text-align: left;
    font-size: 16px;
    color: #8c8c8c;
    margin-bottom: 10px;
    border: 2px solid yellowgreen;
} */
.contact__quickServices{
   display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 15px;
  align-self: flex-start;
}
.contact__quickServiceIcon{
    text-align: left;
    font-size: 16px;
    color: #04f;
    margin:0px 10px;
}
.contact__quickService{
    text-align: left;
    font-size: 16px;
    color: #212121;
}
.contact__right{
    width: 100%;
    padding: 10px 20px;
    align-self: flex-start;

}
 form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin:0px;
    color: #21212B;
    font-size: 16px;
    font-family: Lato;
 
}
textarea{
    background-color: #F3F7FB;
    padding: 10px;
    width: 100%;
    height: 144px;
    border-radius: 5px;
    margin: 10px;
    border: none;
    outline: #0044FF;
}
input ,select{
    background-color: #F3F7FB;
    padding: 10px;
    width: 100%;
    height: 60px;
    border-radius: 5px; 
    margin: 10px;
    border: none;
    outline: #0044FF;
}
select > option{
    background-color: #F3F7FB;
    padding: 10px; 
}
textarea::placeholder{
    font-size:18px ; 
}
option::after{
    color: #21212B;
    font-size: 16px;
    font-family: Lato;
}
option{
    color: #21212B;
    font-size: 16px;
    font-family: Lato;
}
 input::placeholder{
   font-size:16px ;
}

.contact__btn {
margin-top: 20px;
align-self: flex-start;
}
.contact__btn a{
    color: #F7F9FD;
}

/* ============================MEDIA QUERIES=================================================================== */


@media (max-width: 568px) {
    .contact__box{
       flex-direction: column;
       width: 319px;
       padding: 10px;
    }
    .contact__video {
        width: 319px;
        height: 178px;
         margin-top: 15px;
    }
    .contact__videoIcon {
        left: 140px;
        bottom: 140px;
       
    }
    /* .contact__quickServices{
    
        width: 100%;
      padding: 0px;
      margin: 10px;
    } */
    .contact__left {
      
        align-items: center;
     }
    }

@media (max-width: 768px) {
    .contact__box{
        flex-direction: column;
     }
     .contact__left {
      
        align-items: center;
     }
     
    
    }
