@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&display=swap');

/* * {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
} */
/* @media
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5){

  html,
  body{
    width:100%;
    overflow-x:hidden;
  }

} */
.app{
  width: 100%;
  height: 100%;
}



.app__chatIcon{
  position: absolute;
  bottom: 32px;
  right:20px;
  position: fixed;
  color: #c2c2d6;
  font-size: 30px;
  cursor: pointer;
}
.app__chatIcon:hover{
  color: #25940ee1;
  animation: top-icon-spin 0.15s infinite;
  /* transform: rotate(0deg); */

}


/* @keyframes example {
  from {color: #c2c2d6;}
  to {color: #25940ee1;}
} */
@keyframes top-icon-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}
